h2{
    font-size: 40px;
}
.busca{
    background-color: rgb(214, 209, 209);
    height: 25px;
    width: 40%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: rgb(136, 138, 139);
    
}

.topo{
    background-color: #642764;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    width: auto;
    height: 70px;
    margin-right: 30px;
    margin-left: 60px;
}


.opções{
    background-color: #642764;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
}

.perfil{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
}

.cart{
    width: auto;
    height: 25px;
}


.Destaque01{
    background-color: rgb(223, 223, 223);
    margin: 50px 0px;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  
}

.destaque{
    background-color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app{
    height: 400px;
    width: auto;
}

h3{
    margin: 20px 0px;
    font-style: italic;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

p:hover{
    color: antiquewhite;
    font-size: 20px;
}